

@{
    ViewBag.Title = "Specials";
}


<div class="container">
    <h2>Specials</h2>
    <br />
    <div id="specialshere">

    </div>

</div>

@section scripts{

    <script src="~/Scripts/homespecials.js"></script>
}

@section customcss{
    <style>
        .specialsRow {
            border: thin solid;
            margin: 10px 0 10px 0;
            padding: 10px 0 10px 0;
        }
    </style>
}