
@{
    ViewBag.Title = "Index";
}

<h2>Reports</h2>
<br />
<a href="https://localhost:44386/reports/inventory">Inventory Report</a>
<br />
<br />
<a href="https://localhost:44386/reports/sales">Sales Report</a>

